<div class="container">
  <div class="banner" style=""></div>
    <h1 class="title">RENTAL LISTS</h1>
    <div class="list">
      <ul>
        <% @lists.each do |list| %>
          <div class="list-item">
            <li>
              <div class="list-pad"><p><strong><%= link_to list.name, list_path(list) %></strong></p>
                <p><%= link_to "CREATE BOOKMARK", new_list_bookmark_path(list) %></p>
                <p><%= link_to "DESTROY LIST", list_path(list), method: :delete, data: { confirm: "Are you sure?" } %></p>
              </div>
            </li>
          </div>
        <% end %>
      </ul>
    </div>
  <div class="bottom-btn">
    <%= link_to "CREATE LIST", new_list_path %>
  </div>
</div>
