<div class="container">

  <h1 class="title">NEW LIST</h1>

  <%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <div class="bottom-btn">
    <%= f.submit %>
  </div>
  <% end %>

  <div class="bottom-btn">
    <%= link_to "BACK TO LISTS", lists_path %>
  </div>

</div>
